@import url("https://fonts.googleapis.com/css?family=Merriweather|Fira+Sans&display=swap");

.App {
  margin: 0 auto;
  color: white;
}

.condition {
  font-family: "Merriweather", sans-serif;
  font-size: 1.2rem;
}
